<div class="post-area post-detail comment">
    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}"
         data-url="yuanshenjian.github.io{{ page.url }}"></div>
</div>

<script>
    var duoshuoQuery = {short_name: "cleancoder"};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.withCredentials = false;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>