@media only screen and (min-width: 768px) {

    .header {
        background: white url("../img/touring.jpg") center center;
        background-size: cover;
        color: white;
        padding: 0;
        height: 3em
    }

    .navbar-inverse {
        background: transparent none;
        border-color: transparent;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: wheat;
        background-color: transparent;
    }

    .header .logo-small {
        display: none;
    }

    .header .logo-large {
        margin-left: 5%;
        position: fixed;
        font-size: 35px;
        font-weight: 600;
    }

    .header .logo-large, .header .logo-large a {
        display: block;
        color: white;
    }

    .header {
        height: 15em;
        position: relative;
        padding-bottom: 2em;
        padding-top: 1em;
    }

    .header .container {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-width: 800px;
        margin-left: auto;
        margin-right: auto
    }

    .header .container:after {
        content: " ";
        display: block;
        clear: both
    }

    .header h1 {
        font-size: 3em;
        line-height: 1;
        letter-spacing: -3px;
        padding-left: 0
    }

    .header nav {
        float: right;
        clear: left
    }

    .header nav ul {
        margin: 0
    }

    .header nav ul li {
        display: inline;
        line-height: 3em;
        background: none;
        padding: 0 5px;
        border: none
    }

    .header nav ul li a {
        color: white;
        font-size: .9em;
        text-decoration: none;
        padding: 0 .25em
    }

    .header nav ul li a:hover {
        color: #ccc
    }

    .header nav ul li.current {
        padding-bottom: .25em;
        border-bottom: 4px solid rgba(255, 255, 255, 0.4)
    }

    .content {
        padding-top: 0;
        position: relative;
        z-index: 1
    }

    .content:after {
        z-index: -1;
        background: white;
        content: "";
        display: block;
        width: 100%;
        height: 6em;
        position: absolute;
        top: -2em;
        left: 0;
        -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
        transform: skewY(-2deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left
    }

    .container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding: 0
    }

    .container:after {
        content: " ";
        display: block;
        clear: both
    }

    #home .posts, #home .pageTitle, #home .pagination {
        /*width: 74.46809%;*/
        float: left;
        float: none;
        margin: 0 auto 1.5em;
        display: block;
    }

    #home .pageTitle {
        margin: 2rem auto 1em;
        font-weight: 600;
    }

    .js .nav-collapse {
        position: relative;
        max-height: none
    }

    .js .nav-collapse.closed {
        max-height: none
    }

    .js .nav-collapse ul li a {
        display: inline-block
    }

    .nav-toggle {
        display: none
    }

    .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post p, .post ul, .post ol, .post dl, .post .pageTitle {
        /*width: 74.46809%;*/
        float: left;
        float: none;
        margin: 0 auto 2rem;
    }

    .post h1, .post .h1, .post h2, .post .h2, .post h3, .post .h3, .post h4, .post .h4, .post h5, .post .h5, .post h6, .post .h6 {
        margin: 1rem auto
    }

    .post .pageTitle {
        margin: 2rem auto 1em
    }

    .post .featuredImage {
        position: relative;
        margin-top: 2rem
    }

    .post .featuredImage:before {
        background: white;
        content: "";
        display: block;
        width: 100%;
        height: 4em;
        position: absolute;
        top: -2em;
        left: 0;
        -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
        transform: skewY(-2deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left
    }

    .postNav .prev, .postNav .next {
        width: 50%
    }

    .postNav .prev {
        float: left;
        text-align: left
    }

    .postNav .next {
        text-align: right;
        float: right
    }

    .footer-links {
        float: right
    }

    .footer .copy {
        float: left
    }

    .footer .container {
        padding: 1rem 0;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto
    }

    .footer .container:after {
        content: " ";
        display: block;
        clear: both
    }

    .contactContent {
        width: 48.93617%;
        float: left;
        margin-right: 2.12766%
    }

    #contact form {
        width: 48.93617%;
        float: right;
        margin-right: 0
    }
}