@media only screen and (min-width: 768px) {
  .icon-top svg {
    width: 45px;
    height: 45px;
    display: inline-block;
    fill: gray;
    color: white;
    position: fixed;
    top: 0;
    border: 0;
    right: 0;
  }

  .header {
    background: white url("../img/touring.jpg") center center;
    background-size: cover;
    color: white;
    padding: 0;
    height: 3em;
    .menu-label-github {
      display: none;
    }
  }

  .navbar-inverse {
    background: transparent none;
    border-color: transparent;
    .navbar-nav > li > a:hover {
      color: wheat;
      background-color: transparent;
    }
  }

  .header {
    height: 15em;
    position: relative;
    padding-bottom: 2em;
    padding-top: 1em;
    .logo-small {
      display: none;
    }
    .logo-large {
      margin-left: 5%;
      position: fixed;
      font-size: 30px;
      font-weight: 600;
      display: block;
      color: white;
      a {
        display: block;
        color: white;
      }
      a:hover {
        display: block;
        color: wheat;
      }
    }
    .container {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      max-width: 800px;
      margin-left: auto;
      margin-right: auto
    }
    .container:after {
      content: " ";
      display: block;
      clear: both
    }
    h1 {
      font-size: 3em;
      line-height: 1;
      letter-spacing: -3px;
      padding-left: 0
    }
    nav {
      float: right;
      clear: left;
      margin-right: 20px;
      ul {
        margin: 0;
        li {
          display: inline;
          line-height: 3em;
          background: none;
          padding: 0 5px;
          border: none;
          a {
            color: white;
            font-size: .9em;
            text-decoration: none;
            padding: 0 .25em
          }
          a:hover {
            color: #ccc
          }
        }
        li.current {
          padding-bottom: .25em;
          border-bottom: 2px solid rgba(255, 255, 255, 0.4)
        }
      }
    }
  }

  .content {
    padding-top: 0;
    position: relative;
    z-index: 1
  }

  .content:after {
    z-index: -1;
    background: white;
    content: "";
    display: block;
    width: 100%;
    height: 6em;
    position: absolute;
    top: -2em;
    left: 0;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left
  }

  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0
  }

  .container:after {
    content: " ";
    display: block;
    clear: both
  }

  #home .posts, #home .pageTitle, #home .pagination {
    float: left;
    float: none;
    margin: 0 auto 1.5em;
    display: block;
  }

  #home .pageTitle {
    margin: 2rem auto 1em;
    font-weight: 600;
  }

  .js {
    .nav-collapse {
      position: relative;
      max-height: none;
      .closed {
        max-height: none
      }
      ul li a {
        display: inline-block
      }
    }

  }
  .nav-toggle {
    display: none
  }

  .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post p, .post ul, .post ol, .post dl, .post .pageTitle {
    float: none;
    margin: 0 auto 2rem;
  }

  .post h1, .post .h1, .post h2, .post .h2, .post h3, .post .h3, .post h4, .post .h4, .post h5, .post .h5, .post h6, .post .h6 {
    margin: 1rem auto
  }

  .post {
    .pageTitle {
      margin: 2rem auto 1em
    }
    .featuredImage {
      position: relative;
      margin-top: 2rem
    }
    .featuredImage:before {
      background: white;
      content: "";
      display: block;
      width: 100%;
      height: 4em;
      position: absolute;
      top: -2em;
      left: 0;
      -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
      transform: skewY(-2deg);
      -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      transform-origin: bottom left
    }
  }

  .postNav {
    .prev, .next {
      width: 50%
    }
    .prev {
      float: left;
      text-align: left
    }
    .next {
      text-align: right;
      float: right
    }
  }
}