@media only screen and (min-width: 1200px) {
    .header{
        .logo-large {
            margin-left: 15%;
            position: fixed;
            font-size: 35px;
            font-weight: 700;
        }
    }
}
